* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img1 {
    width: 100%;
    height: auto;
}

.doctor-border {
    background: linear-gradient(180deg, #034ea1 0, #00b7ac 100%);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 12px;
    border-radius: 0 25px 25px 0;
}

.card {
    border-radius: 13px;
    width: 1150px;
}

.caption {
    margin: 0;
    padding-top: 5px;
    height: 1.7rem;
    font-size: small;
    font-weight: 10px;
    color: #fff;
    background: linear-gradient(180deg, #034ea1 0, #00b7ac 100%);
    box-sizing: border-box;
    border-radius: 13px 0 0 0;
}

#doc-img {
    width: 100%;
    background-size: cover;
    border-radius: 0 0 0 10px;
}

h3 {
    font-size: 25px;
    font-weight: bolder;
    text-align: left;
    color: #034ea1;
    opacity: 1;
    letter-spacing: .23px;
    line-height: 1.2;
    height: auto;
    min-height: 45px;
}


h5 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
    margin-top: 25px;
    text-align: left;
    color: #240f39;
    text-transform: uppercase;
    opacity: 1;
}

.card-text1 {
    font-size: 1.2rem;
    text-align: left;
    font-family: Montserrat, sans-serif;
    color: #240f39;
    text-transform: capitalize;
    opacity: 1;
    margin-bottom: 2.5rem;
}

.card-text {
    text-align: left;
    font-family: Montserrat, sans-serif;
    color: #240f39;
    text-transform: capitalize;
    opacity: 1;
    cursor: pointer;
    margin-top: 8px;
}

.booking-btn {
    position: relative;
    width: 100%;
    /* margin-top: 58px; */
}

.btn {
    background: #034fa1 padding-box;
    border-radius: 6px;
    padding: 3px 35px;
    font-size: 18px;
    margin: 10px 0 0;
}

.pagination {
    margin: 30px auto 30px auto;
    justify-content: center;
}

.pagination a {
    font-size: 19px;
    border: 1px solid #034ea1;
    color: #034ea1;
    justify-content: center;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #034ea1;
    border-color: #034ea1;
}

.docList {
    background-image: url(https://www.manipalhospitals.com/assets/images/doctor-profile-bg.svg);
    /* margin-top: 124px; */
    padding-top: 58px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .btn {
        width: 100%;
    }

    .doctor-border {
        display: none;
    }

    .caption {
        border-radius: 13px 13px 0 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #doc-img {
        height: 91%;
    }

    .btn {
        position: relative;
        display: inline;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 540px) {
    .btn {
        display: inline;
        width: auto;
    }

    .booking-btn {
        position: relative;
        margin-bottom: -18px;
        margin-left: -15px;
    }
}

@media only screen and (max-width: 540px) {
    .pagination {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .booking-btn {
        position: relative;
        padding: 20px;
    }

    .docList {
        padding-inline: 90px;
    }
}


@media only screen and (max-width: 768px) {
    .img1 {
        width: 100%;
        height: 390px;
    }

    img.img-fluid.banner {
        object-fit: cover;
        height: 100%;
        object-position: center;
    }
}