* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

#pageBanner {
    width: 100%;
    background-position: center;
    height: auto;
    background-size: cover;
    /* margin-top: 110px; for header */
}

#careerL {
    background-image: url(https://www.manipalhospitals.com/assets/images/career-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

div {
    display: block;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

/* JOIN OUR TEAM */

#careerL .careerLcont {
    box-shadow: 0 0 10px #0000001f;
    margin-top: 130px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

#careerL .joinTeam {
    padding: 40px;
    border-bottom: 1px solid #b9c6e0;
    border-radius: 6px;
    position: relative;
    top: -12px;
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#careerL .joinTeam h1 {
    /* font-family: MontserratEB; */
    font-size: 36px;
    line-height: 45px;
    color: #00b7ac;
    padding-bottom: 30px;
    margin-bottom: 0;
}

/* common styles */

a,
li,
p,
span {
    /* font-family: Montserrat; */
    font-size: 14px;
    line-height: 27px;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

h5 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h5,
h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.personal.details {
    text-align: left;
    position: relative;
    margin-left: 10px;
}

.cont {
    text-align: left;
}

span.rightd {
    /* width: 20%; */
    margin-right: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

.quick-apply-btn a {
    padding: 8px 35px;
    color: #fff;
    border: 1px solid #034ea1;
    background: #034ea1;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
}

/* WHY MANIPAL? */

#careerL .why {
    padding: 30px 40px 40px;
    background: #fff;
}

#careerL .roles h2,
#careerL .why h2 {
    /* font-family: MontserratBold; */
    font-size: 32px;
    line-height: 39px;
    color: #00b7ac;
}

#careerL .why p {
    padding-bottom: 15px;
}

#careerL .why p:last-child {
    padding-bottom: 0;
}

#careerL .why p {
    padding-bottom: 15px;
}

/* roles */

#careerL .roles {
    background: #fff;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.new-job-search-div {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.new-job-search {
    position: absolute;
    width: 50%;
    top: 50%;
    right: 0%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.input-group {
    width: 80% !important;
    margin: auto !important;
    position: relative;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.new-job-search input {
    border: none;
    border-bottom: 1px solid #bab5b5;
    width: 80%;
    float: right;
    padding: 5px 25px 5px 5px;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

/* form */
#careerL .roles form {
    padding: 0 30px;
}

/* search bar*/
.new-job-search .btn {
    border: none;
    background: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

button.btn {
    font-family: Montserrat;
    border: 0;
    font-size: 20px;
    border-radius: 6px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    color: #00b7ac;
    margin-top: 6px;
}

/* button {
    overflow: visible;
} */


/* tab content */

#careerL .roles .tab-content {
    padding: 30px 60px;
}

#careerL .roles form {
    padding: 0 30px;
}

form {
    margin: 0;
}

#careerL .roles .form-group {
    width: 29%;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 15px;
}

#careerL .roles .form-group .form-select {
    /* font-family: MontserratBold; */
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    border: none;
    color: #12121280;
}

.crs-line {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #bab5b5;
}

hr {
    border: 0;
}

/* cards */

#result {
    display: flex;
    flex-wrap: wrap;
}

#careerL .roles .tab-content .roleBox {
    padding: 10px 15px;
}

#careerL .roles .tab-content .boxCont {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px #0000001f;
    padding: 26px 33px;
    margin-bottom: 20px;
    height: 235px;
    position: relative;
    overflow: hidden;
}

.career-box-border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background: linear-gradient(90deg, #034ea1 0, #00b7ac 100%);
}

#careerL .roles .tab-content .boxCont h4 {
    font-family: MontserratSB;
    font-size: 13px;
    line-height: 16px;
    color: #121212;
    padding-bottom: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 33px;
}

#careerL .roles .tab-content .boxCont p {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    color: #12121280;
    padding-bottom: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#careerL .roles .tab-content .boxCont button {
    background-color: transparent;
    border: 1px solid #00b7ac;
    font-family: MontserratBold;
    font-size: 11px;
    line-height: 13px;
    color: #00b7ac;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#careerL .roles .tab-content .boxCont button a {
    padding: 9px 0;
    width: 100%;
    display: inline-block;
}

#careerL .viewCta button {
    background-color: #034ea1;
    border: 1px solid #034ea1;
    font-family: MontserratBold;
    font-size: 18px;
    line-height: 13px;
    color: #fff;
    padding: 14px 50px;
    margin-bottom: 20px;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #careerL .container {
        width: 100% !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #careerL .container {
        width: 750px;
    }

    #careerL .joinTeam,
    #careerL .roles .tab-content,
    #careerL .why {
        padding: 30px;
    }

    #careerL .joinTeam h1,
    #careerL .roles h2,
    #careerL .why h2 {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 15px;
    }

    #careerL .why {
        padding-top: 0;
    }

    #careerL .roles .tab-content .boxCont {
        height: 220px;
    }

    #careerL .roles .tab-content .boxCont {
        padding: 20px;
    }

    #careerL .roles .form-group {
        margin-right: 20px;
    }

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #pageBanner {
        width: 100%;
        height: 250px;
    }

    img.img-fluid.banner {
        object-fit: cover;
        height: 100%;
        object-position: center;
    }

    /* jointeam and why? */
    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .cont {
        text-align: center;
    }

    #careerL .joinTeam,
    #careerL .roles .tab-content,
    #careerL .roles .tab-content .boxCont,
    #careerL .why {
        padding: 10px;
    }

    #careerL .joinTeam h1,
    #careerL .roles h2,
    #careerL .why h2 {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 15px;
    }

    /* roles */
    #careerL .roles h2 {
        display: flex;
        text-align: left;
        padding-bottom: 0;
        font-size: 20px;
        line-height: 30px;
    }

    #search_keyword {
        width: 100%;
    }

    #careerL .roles row {
        margin-right: 0;
        margin-left: 0;
    }

    #careerL .roles .container {
        display: block;
    }

    #careerL .roles .tab-content .form-group {
        width: 100%;
    }

    #careerL .roles .form-group .form-select {
        font-size: 14px;
        text-align: center;
        height: 30px;
        border-bottom: 1px solid #00000054 !important;
    }

    .crs-line {
        display: none;
    }

    /* cards */
    #result {
        display: block;
    }

    #careerL .roles .tab-content .roleBox {
        padding: 10px;
    }

    #careerL .roles .tab-content .boxCont {
        height: auto;
    }

    #careerL .roles .tab-content .boxCont p {
        font-size: 13px;
    }

    #careerL .viewCta button {
        font-size: 14px;
        padding: 10px 35px;
        position: relative;
        top: -20px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 540px) {
    #careerL .roles h2 {
        display: block;
    }

    #careerL .joinTeam h1,
    #careerL .roles h2,
    #careerL .why h2 {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 15px;
    }

    .new-job-search .input-group {
        float: right !important;
    }

    #careerL .roles .container {
        display: flex;
    }

    #careerL .roles .form-group {
        margin-right: 30px;
    }

    #careerL .roles .tab-content .boxCont {
        height: auto;
    }

    #careerL .roles .form-group .form-select {
        font-size: 11px;
        text-align: center;
        height: 30px;
        /* width: 124%; */
        border-radius: 0;
        border-bottom: 1px solid #00000054 !important;
        padding: 6px 12px 6px 0;
    }

    .crs-line {
        display: none;
    }
}