* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    overflow-x: hidden;
}

section#careerL {
    height: 860px;
}

section#careerL {
    margin-top: 7em;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100% !important;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.doctor-border {
    background: linear-gradient(180deg, #034EA1 0%, #00B7AC 100%);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10px;
    border-radius: 0 25px 25px 0;
}

/* .card {
    border-radius: 13px;
} */

.profileBox {
    margin-top: 55px;
    background: #fff;
    border-radius: 15px;
}

.caption {
    margin: 0;
    padding-top: 5px;
    height: 1.7rem;
    font-size: small;
    font-weight: 10px;
    color: #fff;
    background-color: #024e9f;
    box-sizing: border-box;
    border-radius: 13px 0 0 0;
}

#doc-img {
    /* width: 100%;   95%*/
    height: 200px;
    background-size: cover;
    border-radius: 0 0 0 10px;

}

/* .download_pdf {
    height: auto;
    position: relative;
    margin-top: -2.2em;
    z-index: -1;
    width: 13%;
    float: right;
    margin-right: -5px;
} */

h1 {
    font-size: 21px;
    font-weight: bolder;
    text-align: left;
    color: #034ea1;
    opacity: 1;
    letter-spacing: .23px;
    line-height: 1.2;
    height: auto;
    min-height: 45px;
}

.goBack {
    font-size: smaller;
    padding: 3px 13px 3px 13px;
    background-color: #034ea1;
    position: absolute;
    margin-top: 17px;
    margin-right: 30px;
}

/* description */
.card-text1 {
    font-size: 1rem;
    text-align: left;
    font-family: Montserrat, sans-serif;
    color: #240f39;
    text-transform: capitalize;
    opacity: 1;
    margin-bottom: 2.5rem;
}

h5 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
    margin-top: 25px;
    text-align: left;
    color: #240f39;
    text-transform: uppercase;
    opacity: 1;
}

.card-text {
    font-size: 1rem;
    text-align: left;
    font-family: Montserrat, sans-serif;
    color: #240f39;
    text-transform: capitalize;
    opacity: 1;
    cursor: pointer;
    margin-top: 8px;
}

.profileBox {
    width: 100%;
    height: auto;
    box-shadow: 0 0 22px #02020265;
    border: none;
}

.profileBox .row {
    margin-left: 0;
}

.sideBox {
    /* height: auto; */
    box-shadow: 0 0 22px #02020265;
    border-radius: 15px;
    border: none;
    width: 30rem;
    height: 534px;
    margin-left: 10px;
}

.tabBox {
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 0 22px #02020265;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    width: 100%;
    top: -7rem;

}

.tabBox li {
    letter-spacing: .17px;
    color: #121212;
    line-height: 21px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 4px;
}

li {
    font-size: 15px;
    font-family: Montserrat;
    opacity: 1;
}

.list-group-item {
    border-left: 1px solid #b4e3d7;
}

.tab-content {
    padding: 15px 18px 35px 0;
}


.tabBox.nav>li>a {
    padding: 10px 12px !important;
    border-radius: 4px;
}

.banner-appointment {
    height: 400px;
    background-color: #00b7ac;
    background-image: url(https://www.manipalhospitals.com/assets/images/doctor-profile-bg.svg);
}

.banner-profile {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    background-color: #00b7ac;
}

.list-group-horizontal>.list-group-item:first-child {
    border-top-left-radius: 7px;
}

.list-group-horizontal>.list-group-item:last-child {
    border-right: 0;
}

.list-group-horizontal>.list-group-item {
    border-bottom: 0;
}

.section-heading {
    background-color: #034ea1;
    color: #fff;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding: 20px;
    height: auto;
}

.fixed-form {
    position: absolute;
    top: 0;
    width: 360px;
    z-index: 99;
}

.select-section {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.timeslot {
    padding: 0 5px;
    font-size: 12px;
    line-height: 37px;
    text-align: left;
    letter-spacing: 0;
    opacity: .75;
}

.price {
    color: #fff;
    font-size: 12px;
    padding: 5px 5px;
    text-align: left;
    opacity: 1;
    line-height: 25px;
}

.pic-box {
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    color: #ccc;
    margin-top: 9px !important;
}

.speciality {
    font-size: 12px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px !important;
    height: 24px;
    border: 1px solid #ccc !important;
    color: #ccc;
    background-color: #034ea1;
}

.section2-headpara {
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    padding: 0 10px;
    margin-bottom: 0;
}

.opd-video {
    justify-content: center;
    display: flex;
    height: auto;
}

.video1 {
    background-color: rgb(0, 183, 172);
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    padding: 7px;
    cursor: pointer;

}

span.not-avail {
    margin-top: 30px;
    position: relative;
    float: left;
    font-size: 12px;
    text-align: center;
    line-height: 27px;
    margin-bottom: 30px;
}

.next_avail_new {
    border: 2px solid #034EA1;
    color: #034EA1 !important;
    background: none !important;

}

.next_avail {
    background: linear-gradient(90deg, #034EA1 0%, #00B7AC 100%);
    color: #fff;
    width: auto;
    padding: 8px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.section2 {
    padding: 0 10px;
    margin-bottom: 0;
}

.tab-content .tab-pane.active {
    height: 359px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.tab-content .tab-pane h4 {
    margin-bottom: 11px;
    margin-top: 10px;
    font-size: 16px;
    color: #034fa1;
}

.list-group-item:first-child.active {
    background-color: #e5f6f1 !important;
    border-top-left-radius: 10px;
}

.list-group-item.active {
    z-index: 2;
    color: black;
    background-color: #fff;
    border: none;
}

.border-main {
    background: linear-gradient(90deg, #034ea1 -29.1%, #00b7ac 121.6%);
    height: 10px;
}

.nav.nav-pills {
    background: #fbfbfb 0 0 no-repeat padding-box;
    border-radius: 8px 8px 0 0;
    display: inline-flex;
    justify-content: flex-start;
}

.nav.nav-pills a {
    padding: 10px 12px;
    display: flex;
    align-items: center;
}

.nav.nav-pills a span {
    text-align: left;
    letter-spacing: .13px;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 7px;
    display: inline-block;
    font-weight: 600;
    line-height: 16px;
    font-family: Montserrat, sans-serif;
}

.tabBox a img {
    position: relative;
    z-index: 100;
}

.list-group:first-child {
    border-top-left-radius: 8px;
}

.list-group:last-child {
    border-top-left-radius: 0;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #00b7ab6e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid #034fa1;
}

@media only screen and (max-width: 1200px) {
    #section-heading {
        padding: 10px 5px;
    }

    .fixed-form {
        position: absolute;
        top: 0;
        width: 300px;
        z-index: 99;
        right: 35px;
    }

    .tabBox {
        width: 614px;
    }
}

@media only screen and (min-device-width:820px) and (max-device-width: 912px) {
    section#careerL {
        min-height: 1600px;
    }

    .sideBox {
        top: 24%;
        right: 54px;
        height: auto;
    }

    .tabBox {
        width: 720px;
        height: auto;
    }

    .profileBox {
        width: 720px;
    }

    .container {
        margin-left: 35px;
        margin-right: 35px;
        width: 750px;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner-appointment {
        height: auto;
    }

    .banner-appointment .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .section-heading {
        padding: 10px 5px !important;
    }

    .section2 {
        height: auto;
    }

    .profileBox {
        width: auto;
        margin: 0 10px;
    }

    .tabBox {
        width: auto;
        margin: 21px;
        top: -45px;
    }

    .sideBox {
        position: relative;
        margin: 30px 40px;
        width: 97%;
    }

    .doctor-border {
        display: none;
    }

    .caption {
        display: none;
    }

    #doc-img {
        width: 100%;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        padding-top: 0px;
    }

    .card-text1 {
        position: relative;
        font-size: 13px;
        margin-bottom: -40px;
        top: -27px;
        height: 113px
    }

    .profileBox h1 {
        font-size: 14px;
        min-height: 35px;
    }

    .goBack {
        padding: 3px 19px 3px 19px;
        position: absolute;
        margin-top: 205px;
        margin-right: 5px;
    }

    .nav.nav-pills a span {
        display: none;
    }

    .nav.nav-pills a img {
        width: 23px;
        height: 23px;
    }
}