* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.container {
    padding-right: 85px;
    padding-left: 85px;
    margin-right: auto;
    margin-left: auto;
}

.doctor-border {
    background: linear-gradient(180deg, #034EA1 0%, #00B7AC 100%);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10px;
    border-radius: 0 25px 25px 0;
}

.card {
    border-radius: 13px;
}

.caption {
    margin: 0;
    padding-top: 5px;
    height: 1.7rem;
    font-size: small;
    font-weight: 10px;
    color: #fff;
    background-color: #024e9f;
    box-sizing: border-box;
    border-radius: 13px 0 0 0;
}

#doc-img {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 0 0 0 10px;

}

/* .download_pdf {
    height: auto;
    position: relative;
    margin-top: -2.2em;
    z-index: -1;
    width: 13%;
    float: right;
    margin-right: -5px;
} */

h3 {
    font-size: 21px;
    font-weight: bolder;
    text-align: left;
    color: #034ea1;
    opacity: 1;
    letter-spacing: .23px;
    line-height: 1.2;
    height: auto;
    min-height: 45px;
}

.goBack {
    font-size: smaller;
    padding: 3px 13px 3px 13px;
    background-color: #034ea1;
    position: absolute;
    margin-top: 17px;
    margin-right: 30px;
}

h5 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
    margin-top: 25px;
    text-align: left;
    color: #240f39;
    text-transform: uppercase;
    opacity: 1;
}

.card-text1 {
    font-size: 1rem;
    text-align: left;
    font-family: Montserrat, sans-serif;
    color: #240f39;
    text-transform: capitalize;
    opacity: 1;
    margin-bottom: 2.5rem;
}

.card-text {
    font-size: 1rem;
    text-align: left;
    font-family: Montserrat, sans-serif;
    color: #240f39;
    text-transform: capitalize;
    opacity: 1;
    cursor: pointer;
    margin-top: 8px;
}

.profileBox {
    width: 750px;
    height: auto;
    box-shadow: 0 0 22px #02020265;
    border: none;
}

.sideBox {
    height: auto;
    box-shadow: 0 0 22px #02020265;
    border: none;
}

.tabBox {
    height: auto;
    width: 750px;
    border-radius: 13px;
    box-shadow: 0 0 22px #02020265;
    border: none;
}

.tab-content {
    padding: 15px 18px 35px 0;
}

.banner-appointment {
    height: 400px;
    background-color: #00b7ac;
}

.banner-profile {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    background-color: #00b7ac;
}

.list-group-horizontal>.list-group-item:first-child {
    border-top-left-radius: 13px;
}

.list-group-horizontal>.list-group-item:last-child {
    border-top-right-radius: 13px;
}

.section-heading {
    background-color: #034ea1;
    color: #fff;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding: 20px;
    height: auto;
}

.fixed-form {
    position: absolute;
    top: 0;
    width: 360px;
    z-index: 99;
}

.select-section {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.timeslot {
    padding: 0 5px;
    font-size: 12px;
    line-height: 37px;
    text-align: left;
    letter-spacing: 0;
    opacity: .75;
}

.price {
    color: #fff;
    font-size: 12px;
    padding: 5px 5px;
    text-align: left;
    opacity: 1;
    line-height: 25px;
}

.pic-box {
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    color: #ccc;
    margin-top: 9px !important;
}

.speciality {
    font-size: 12px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px !important;
    height: 24px;
    border: 1px solid #ccc !important;
    color: #ccc;
    background-color: #034ea1;
}

.section2-headpara {
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    padding: 0 10px;
    margin-bottom: 0;
}

.opd-video {
    justify-content: center;
    display: flex;
    height: auto;
}

.video1 {
    background-color: rgb(0, 183, 172);
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    padding: 7px;
    cursor: pointer;

}

span.not-avail {
    margin-top: 30px;
    position: relative;
    float: left;
    font-size: 12px;
    text-align: center;
    line-height: 27px;
    margin-bottom: 30px;
}

.next_avail_new {
    border: 2px solid #034EA1;
    color: #034EA1 !important;
    background: none !important;

}

.next_avail {
    background: linear-gradient(90deg, #034EA1 0%, #00B7AC 100%);
    color: #fff;
    width: auto;
    padding: 8px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.section2 {
    padding: 0 10px;
    margin-bottom: 0;
}